/** page1 **/

html,body{
  scroll-behavior: smooth;
  margin:0;
  padding:0;
  background:black;
  overflow-x: hidden;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.entete{
  background-image:url('images/free.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.entete .contenu{
  height:400px;
  width: 800px;
  background-color: rgba(255,255,255,0.25);
  box-shadow: 0 1px 32px 0 rgba(31,38,135,0.17);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#btn_contact {
  margin-top: 10px;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid rosybrown;
  transition: ease-in-out 0.5s;
  text-decoration: none;
  align-items: center;
}
#btn_contact:hover {
  margin-top: 10px;
  background-color: rgba(156, 4, 118, 0.781);
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid white;
}

.contenu > h2 {
    font-weight: bolder;
    font-family: cursive;
    color:black;
    
}
.contenu >h4{
  font-family: initial;
  font-weight: bolder;
  color:black;
}
.title {
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(160, 46, 141);
  padding-left: 5%;
  font-weight: bold;
  text-decoration-line: underline;
  font-family: sans-serif;
  text-underline-position: under;
}
.propos > p, .col-md-6>p{
  color: #999;
  font-family: "Heebo",sans-serif;
  padding:0% 0% 5% 5%;
}
/** page2*/

.propos, h4>b{
  background-color:#0b0c0ccc;
  color: white;
}
.page2{
  background-color:#0e0f10;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}
.details >h4{
    color: rgb(157, 85, 216);
    text-decoration: none;
}

/** page3 */
.page3 {
  background-color: #212529;
  color: #999;
  padding-left: 5%;
  padding-right: 5%;
}
/*footer**/
.footer{
  background-color: #0e0f10;
  color: #999;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar{
  background-color: #0e0f10;
  color:white;
}
.navbar >a, .navbar >a:hover{
  color: white;
}

.img-circle{
  border-radius: 5px;;
}
