/** page1 **/
body{
  background:black;
  color: white;
}

.entete{
  background-image:url('free.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-fluid{
  background-color:#0b0c0ccc;
}

.entete .contenu{
  height:400px;
  width: 800px;
  background-color: rgba(255,255,255,0.25);
  box-shadow: 0 1px 32px 0 rgba(31,38,135,0.17);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#btn_contact {
  margin-top: 10px;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid rosybrown;
  transition: ease-in-out 0.5s;
}
#btn_contact:hover {
  margin-top: 10px;
  background-color: rgba(194, 69, 163, 0.781);
  color: white;
  padding: 10px;
  font-weight: bolder;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid white;
}

.contenu > h2 {
    font-weight: bolder;
    font-family: cursive;
    
}
.contenu >h4{
  margin-top: 50px;
  font-family: initial;
  font-weight: bolder;
  
}
.propos > h3 {
  color: white;
  text-decoration: underline;
  text-decoration-color: rgb(160, 46, 141);
  padding-left: 5%;
  font-weight: bold;
  text-decoration-line: underline;
  font-family: sans-serif;
  text-underline-position: under;
}
.propos > p{
  color: #999;
  font-family: "Heebo",sans-serif;
  padding:2% 0% 5% 5%;
}
/** page2*/

center > h1{
  padding: 2%;
  color:white;
}
.propos, h4>b{
  background-color:#0b0c0ccc;
  color: white;
}
.page2{
  background-color:#0e0f10;
  color: white;
}
.details >h4{
    color: rgb(157, 85, 216);
    text-decoration: none;
}

/** page3 */
.container-fluid.page3 {
  background-color: #212529;
  color: #999;
  padding-left: 5%;
  padding-right: 5%;
}
#aze {
  font-style: italic;
  font-family: -webkit-body;
  color: rgb(218, 197, 235);
}
/*footer**/
.footer{
  background-color: #0e0f10;
  color: #999;
  padding-left: 5%;
  padding-right: 5%;
}
#reseau{
  width:60px;
  height: 60px;
  border-radius: 50%;
}
#tool{
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  margin: 20px;
}

.navbar{
  background-color: #0e0f10;
  color:white;
}
.navbar >a, .navbar >a:hover{
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img-circle{
  border-radius: 5px;;
}